/*HOME PAGE*/
	$header-border-color: transparent;
	/*** Header nav #fd9c3b ***/
	$headernav-backcolor: #F5F7F7;
	$headernav-color: #fff;
	$headernav-icon-color: #000;
	$headernav-border-color:#230f39;
	$full-nav-backcolor: #f2f2f2;
	/*** Language nav ***/
	$language-color: #000;
	$language-backcolor: #bdbdbc;
	/*** Header Top ***/
	$header-backcolor: #fff;
	$headertop-backcolor: #fff;
	$modules-color-text: #fff;
	/*** Header Top ***/
	$headerlogin-anchor-color: #eee;
	$headerlogin-bordercolor: #DDDDDD;
	/*** Search ***/
	$header-search-border-color: #979797;
	/*** Menu ***/
	$menuli1-color: #000;
	$menuli1-color-hover: #000;
	$menuli1-backcolor-hover: #bcbcbc;
	$menu-submenu-backcolor: #f5f7f7;
	$menu-submenu-backcolor-mobile: #230F39;
	$menu2-parent-category-color: #000;
	$menu2-child-category-color: #f6f6f6;
	$menu-bordercolor-mobile: #230f39;
	/*** Icons ***/
	$menu-icon-color: #230f39;
	$menu-icon-color-hover: #000;
	$menu-icon-backcolor-hover: #230f39;
	/*** Hero Slider ***/
	$hero-h3-color: #230f39;
	$hero-p-color: #000;
	$hero-more-backcolor: #8c201e;
	$hero-arrow-color: #fff;
	$hero-arrow-color-hover: #4A4A4A;
	$hero-more-color: #fff;
	$hero-overlay: transparent;
	/*** Manufactures ***/
	$manufacturers-backcolor: #6b6969;
	/*** HomeLinks ***/
	$homelink-backcolor: rgba(25,29,34,.3);
	$homelink-title-color: #fff;
	$homelink-text-color: #fff;
	/*** Home Menu ***/
	$homemenu-button-backcolor: #8c201e;
	$homemenu-button-color: #fff;
	$homemenu-li-color: #fff;
	$homemenu-li-backcolor: #230f39;
	$homemenu-li-color-hover: #230f39;
	$homemenu-li-backcolor-hover: #fff;
	/*** Footer ***/
	$footer-backcolor: #ffffff;
	$footer-color: #000;
	$footer-color-sub: #230f39;
	$footer-color-hover: #FF9E11;
	$footer-bordertop-color: #979797;
	$footer-titles-color: #000;
	$footer-copyright-color: #fff;


/* FORMS */
	$input-placeholder-color: #230f39;
	$input-focus-border-color: #fff;
	$input-backcolor: #ebebeb;
	$input-border-color: #979797;
/* BUTTONS */
	$buttons-default-backcolor: #6b6969;
	$buttons-default-color: #fff;
	$buttons-default-backcolor-hover: #000;
	$buttons-default-color-hover: #fff;

	$buttons-primary-backcolor: #07D97B;;
	$buttons-primary-color: #fff;

	$buttons-primary-backcolor-hover: #29bf7c;
	$buttons-primary-color-hover: #fff;

	$buttons-secondary-backcolor: #230f39;
	$buttons-secondary-color: #fff;
	$buttons-secondary-backcolor-hover: #000;
	$buttons-secondary-color-hover: #fff;
/* ANCHORS */
	$anchor-color: #000;
	$anchor-color-hover: #230f39;


/* BUTTONS */
	$filter-button-backcolor: #F6F6F6;
	$filter-button-backcolor-hover: #F6F6F6;
	$filter-btn-color: #230f39;



/* PRODUCT LIST */
	$pl-border-color: #979797;


/*** CATEGORY PAGE ***/
	$category-banner-overlay: rgba(164, 169, 175, 0.41);
	$category-banner-color: #000;
	$category-filter-backcolor: #F5F7F7;

/*** PRODUCT PAGE ***/
	$product-cover-border-color: #6b6969;

/*BODY*/
	$bgcolor: #fff; /*background for all page*/

$black-color: #230f39;
$left-column-links: #4A90E2;

$bgproductcolor: #fff;

$backgroundmyaccountsection: #fff;
$bordermyaccounttitlecolor: #f6f6f6;
