.htaccess
.eslintrc.js
.php_cs.dist
LICENSES
INSTALL.txt
composer.lock
docker-compose.yml
package-lock.json
.DS_Store
*.log
.log
*sitemap.xml
.cache/
config/xml/trusted_modules_list.xml
config/xml/untrusted_modules_list.xml
config/xml/must_have_modules_list.xml
cache/
config/xml/
/docs/
/var/cache
/var/logs
/var/sessions
/config/defines.inc.php
/app/logs/
/app/Resources/
/app/config/parameters.php
/admin/
/install/
/translations/
/localization/
/img/
/download/
/cache/
modules/*/config*.xml
modules/**/*.jpg
modules/**/*.png
modules/**/*.gif
node_modules/
/override/
!modules/eter_*/images/default/*.jpg
!modules/eter_*/images/default/*.png
!modules/eter_*/images/default/*.gif
!modules/eter_*/logo.png
!modules/*/logo.png
