<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>eter_homeblocks</name>
    <displayName><![CDATA[Blocks Carousels]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Add a carousel (Image, Title, Description and button) on the homepage, excellent for promoting news, products, categories or links in general]]></description>
    <author><![CDATA[ETERLABS S.A.S de C.V]]></author><author_uri><![CDATA[https://www.eterlabs.com]]></author_uri>
    <tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want uninstall this module?]]></confirmUninstall>
    <is_configurable>0</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>