#order-follow {
	#wrapper {
		background-color: #f6f6f6;
	}
	.menu {
		h2 {
			padding-left: 30px;
		}
	}
	.content {
		padding: 10px 10px;
		h2 {
			padding: 0 15px!important;
		}
		.no-orders {
			text-align: center;
			margin-top: 30px;
			.icon {
				background-image: url(../img/return1.png);
				width: 100px;
				height: 100px;
				background-position: center;
				text-align: center;
				margin: auto;
				background-size: cover;
				color: #000;
			}
			p {
				color: #230f39;
				font-size: 16px;
				line-height: 22px;
				margin-top: 16px;
			}
		}
	}
	.table-return {
		width: 33.33%;
		float: left;
		padding: 20px 5px 5px 5px;
		font-size: 16px;
		.container-return {
			border: 1px solid #BCBCBC;
			line-height: 16px;
			padding: 10px;	
			h4 {
				color: #230f39;	
				font-size: 16px;	
				line-height: 18px;	
				margin-bottom: 5px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				min-height: 18px;
			}
			p,a {
				color: #4E4E4E;	
				font-size: 16px;	
				font-weight: 600;	
				line-height: 18px;
				margin-bottom: 5px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
				min-height: 18px;
			}
		}
	}
}
@media (min-width: 767px) and (max-width: 1100px) {
	#order-follow {
		#wrapper {
			padding-top: 105px!important;
		}
		.content {
			padding: 10px;
			h2 {
				font-size: 18px;
			}
			.no-orders {
				.icon {
					width: 75px;
					height: 75px;
				}
			}
			.table-return {
				width: 50%;
			}
		}
	}
}
@media (min-width: 320px) and (max-width: 767px) {
	#order-follow {
		#wrapper {
			padding-top: 70px!important;
		}
		.content {
			padding: 10px;
			h2 {
				font-size: 18px;
				margin: -10px -10px 0;
			}
			.no-orders {
				.icon {
					width: 75px;
					height: 75px;
				}
			}
			.table-return {
				width: 50%;
			}
		}
	}
}
@media (min-width: 320px) and (max-width: 549px) {
	#order-follow {
		.content {
			.table-return {
				width: 100%!important;
			}
		}
	}
}