#password {
  .section-login {
    h4 {
      color: #230f39; 
      font-size: 25px;  
      font-weight: bold;  
      line-height: 34px;
      border: 0;
      margin-top: 20px;
      margin-bottom: 5px;
    }
    .password-content {
      width: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }
    .center-email-fields {
      margin-bottom: 0px;
    }
    .contenido {
      min-height: 450px;
      border-top: 2px solid #9A9A9A;
      border-bottom: 2px solid #9A9A9A;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .forgot-password {
      max-width: 450px;
      h2 {
        color: #230f39; 
        font-size: 25px;  
        font-weight: bold;  
        line-height: 34px;
        border: 0;
        margin-top: 0px;
        margin-bottom: 5px;
      }
      h3 {
        width: 100%;
        display: block;
        margin: auto;
        text-align: left;
        padding: 0;
        color: #1F130E; 
        font-size: 27px;  
        font-weight: normal;
        line-height: 45px;
        margin-bottom: 10px;
      }
      form {
        width: 100%;
        margin-top: 20px;
        display: block;
        padding: 4px;
        margin: auto;
        header {
          p {
            padding: 0;
            color: #1F130E; 
            font-size: 16px;  
            line-height: 22px;
          }
        }
        section {
          label {
            padding: 0;
            width: 100%;
            text-align: left;
            em {
              color: #D0021B;
            }
          }
          .email {
            padding-left: 0;
            padding-right: 0;
            width: 100%; 
          }
          .btn-primary {
            white-space: initial;
            width: 60%;
            float: left;
            height: 55px;
            margin-bottom: 10px;
            &:hover {
              background-color: rgb(246, 160, 1);   
            }
            &:focus {
              background-color: #ffae0b; 
            }
          }
          input {
            height: 41px;
            margin-bottom: 20px;
            width: 95%;
            border: 1px solid #979797;  
            background-color: #FFFFFF;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1100px) {
  #password {
    .section-login {
      h4 {
        font-size: 23px;
      }
      .forgot-password {
        h3 {
          width: 100%;
          font-size: 25px;  
        }
        form {
          width: 100%;
        }
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  #password {
    .section-login {
       h4 {
        font-size: 24px;
        justify-content: center;
        width: 97%;
      }
      .password-content {
        padding: 10px 0px;
      }
      .forgot-password {
        h2 {
          width: 100%;
          font-size: 24px;
        }
        h3 {
          width: 100%;
          font-size: 22px;
          line-height: 30px;
        }
        form {
          width: 100%;
        }
      }
    }
  }
}
