.title-fill {
  background-color: #fff;
  padding-bottom: 0px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  z-index: 0;
  position: relative;
  h3 {
    width: 100%;
    color: #230F39; 
    font-family: "Nunito Sans"; 
    font-size: 36px;  
    font-weight: bold;  
    line-height: 39px;  
    text-align: center;
    margin-bottom: 0;
  }
  .fill {
    background-image: url(../img/fill.png);
    height: 10px;
    width: 20px;
    z-index: 80;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0 15px;
    top: -5px;
    position: relative;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
	.title-fill {
	  h3 {
	    font-size: 20px;
	  }
	  .fill {
	    top: 0;
	  }
	}
}
