<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>eter_cookies</name>
    <displayName><![CDATA[Cookie disclaimer Widget]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Allow to Add cookie disclaimer in the page]]></description>
    <author><![CDATA[ETERLABS S.A.S de C.V]]></author><author_uri><![CDATA[https://www.eterlabs.com]]></author_uri>
    <tab><![CDATA[advertising_marketing]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want uninstall this module?]]></confirmUninstall>
    <is_configurable>0</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>